body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    flex-flow: column; 
    background-color: #ddf4ff;
    text-align: center;
    padding: 1em;
}
img.octocat {
    height: 200px; 
}

.row-1,
.row-3 {
    display: flex;
    justify-content: space-between;
    background: #5bc7db;
    padding: 1rem;
    margin: 1rem;
}
.row-2 {
    display: flex;
    justify-content: space-around;
    background: #d7a2c5;
    padding: 1rem;
    margin: 1rem;
}
.row-3 {
    background: #fcfcff !important;
}